<!DOCTYPE html>
<html  xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--    <link href="https://fonts.cdnfonts.com/css/bombardier" rel="stylesheet">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/deviceList.css">
    <title>Device List</title>
</head>
<body class="">


<div class="loader d-none">Loading...</div>

<header th:insert="fragments/adminheader"></header>
<div class="main-content">

        <div class="container-fluid">
            <div class="row">
                <!-- Table of devices-->
                <div class="col-md-8">
                    <table class="table table-bordered table-striped table-dark">
                        <thead class="sticky" id="thead">
                        <tr>
                            <th scope="col">NAME</th>
                            <th scope="col">PASSWORD</th>
                            <th scope="col">ROLE</th>
                        </tr>
                        </thead>
                        <!--  js code-->
                    </table>
                </div>

                <!--                stats and commands-->
                <div class="col-md-4 right-side">
                    <div class="row">
                        <form method="post" class="col-12">
                            <h1 class="col-12 text-center ">ADD USER</h1>
                            <div class="form-group col-md-12">
                                <input class="col-md-12 form-control mb-1" type="text" id="username" placeholder="User Name" >
                                <input class="col-md-12 form-control" type="text" id="password" placeholder="Password" >
                            </div>
                            <div class="col-md-12" >
                                <button type="submit" class="btn btn-primary col-md-12" id="adduser">ADD</button>
                            </div>
                        </form>

                        <div class="form-group col-12" style="margin-top: 50px;">
                            <hr>
                        </div>
                    </div>

                    <div class="row">
                        <form method="delete" class="col-12">
                            <h1 class="col-12 text-center ">DELETE USER</h1>
                            <div class="form-group col-md-12">
                                <input class="col-md-12 form-control mb-1" type="text" id="deleteuser" placeholder="User Name">
                            </div>
                            <div class="col-md-12" >
                                <button type="submit" class="btn btn-primary col-md-12" id="delete">DELETE</button>
                            </div>
                        </form>

                        <div class="form-group col-12" style="margin-top: 50px;">
                            <hr>
                        </div>
                    </div>
                </div>


            </div>
        </div>

</div>




<div class="sticky"><a href="https://instagram.com/akyptan">@akyptan</a></div>
<button onclick="topFunction()" id="goTop" title="Go to top">Top</button>


</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!--custom js-->
<script type="text/javascript" th:src="@{/js/admin.js}">

</script>
</html>