<!DOCTYPE html>
<html  xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!--    <link href="https://fonts.cdnfonts.com/css/bombardier" rel="stylesheet">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/deviceList.css">
    <title>Device List</title>
</head>
<body class="">


<div class="loader d-none">Loading...</div>

<header th:insert="fragments/header"></header>
<div class="main-content">

    <form method="post">
        <div class="container-fluid">
            <div class="row">
                <!-- Table of devices-->
                <div class="col-md-8">
                    <table class="table table-bordered table-striped table-dark">
                        <thead class="sticky" id="thead">
                        <tr>
                            <th scope="col"><input type="checkbox" id="allDevices" th:value="all" onclick=" checkAllDevices()"></th>
                            <th scope="col">NAME</th>
                            <th scope="col">GSM</th>
                            <th scope="col">CURRENT STATUS</th>
                            <th scope="col">NEXT RESPONSE</th>
                            <th scope="col">REGISTERED@</th>
                            <th scope="col">LAST UPDATE</th>
                        </tr>
                        </thead>
                        <!--  js code-->
                    </table>
                </div>

<!--                stats and commands-->
                <div class="col-md-4 right-side">
                    <div class="row">
                        <h1 class="col-12 text-center ">CONTROL DEVICES</h1>
                        <div class="form-group col-md-12">
                            <select id="rspnsmsgtp" name="msg" class="form-control">
                                <option value="NOTHING" selected>SELECT NEXT RESPONSE</option>
                                <option value="MSGPSV">PASSIVE</option>
                                <option value="MSGACT">ACTIVATE</option>
                                <option value="MSGRS1">RESTRICTED 1</option>
                                <option value="MSGRS2">RESTRICTED 2</option>
                                <option value="MSGRS3">RESTRICTED 3</option>
                            </select>
                        </div>
                        <div class="col-md-12" >
                            <button type="submit" class="btn btn-primary col-md-12" id="submit">SET NEXT RESPONSE</button>
                        </div>

                        <div class="form-group col-12" style="margin-top: 50px;">
                            <hr>
                        </div>

                        <h1 class="col-12 text-center">STATUS SUMMARY</h1>

                            <a class="col-md-4 stat" th:href="@{/devices}">
                                        <span class="badge badge-primary col-md-12">
                                            TOTAL: <span th:text="${totalDevice}"></span>
                                        </span>
                            </a>

                        <a class="col-md-4 stat" th:href="@{/activedevices}">
                                        <span class="badge badge-success col-md-12">
                                            ACTIVE: <span th:text="${activeDevice}"></span>
                                        </span>
                        </a>

                        <a class="col-md-4 stat" th:href="@{/passivedevices}">
                                        <span class="badge badge-secondary col-md-12">
                                            PASSIVE: <span th:text="${passiveDevice}"></span>
                                        </span>
                        </a>

                        <a class="col-md-4 stat" th:href="@{/restrictedone}">
                                        <span class="badge badge-danger col-md-12">
                                            RESTRICTED 1: <span th:text="${r1Device}"></span>
                                        </span>
                        </a>

                        <a class="col-md-4 stat" th:href="@{/restrictedtwo}">
                                        <span class="badge badge-warning col-md-12">
                                            RESTRICTED 2: <span th:text="${r2Device}"></span>
                                        </span>
                        </a>

                        <a class="col-md-4 stat" th:href="@{/restrictedthree}">
                                        <span class="badge badge-dark col-md-12">
                                            RESTRICTED 3: <span th:text="${r3Device}"></span>
                                        </span>
                        </a>



                        <div class="form-group col-12" style="margin-top: 50px;">
                            <hr>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </form>
</div>




<div class="sticky"><a href="https://instagram.com/akyptan">@akyptan</a></div>
<button onclick="topFunction()" id="goTop" title="Go to top">Top</button>


</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!--custom js-->
<script type="text/javascript" th:src="@{/js/deviceList.js}">

</script>
</html>